@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


* {
  box-sizing: border-box;
  margin: 0px;
  font-family: 'Roboto';
}

h1 {
  margin-bottom: 1em;
}

textarea {
  resize: none;
}

input, select {
  outline: none;
  border: 1px solid rgb(92, 92, 92);
  user-select: none;

  border-radius: 5px;
  font-size: 1em;
  padding: .5em;
  width: 100%;
}

input[type=checkbox] {
  width: auto;
  align-self: flex-start;
}

button {
  outline: none;
  border: none;
  background-color: #672dc3;
  color: #fff;
  padding: .8em 1.5em;
  border-radius: 2em;
  transition: .3s;

  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
button:hover {
  background-color: #5a2da2;
}







.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.form > div {
  display: flex;
  align-items: center;
  margin: .2em;
}
.form > div label {
  min-width: 8em;
  text-align: right;
  margin-right: 1em;
}
.form > div:last-child {
  margin-top: 1em;
  justify-content: center;
}

.form-container {
  display: flex;
}

.btn-right {
  justify-content: space-between;
}

button {
  cursor: pointer;
}

@media (max-width: 425px) {
  .form > div {
      flex-direction: column;
      align-items: flex-start;
      margin: .7em .2em;
  }
  .form > div label {
      min-width: auto;
  }

}