
.pagina-admin-produto {
    padding: 1.5em;
    border-top: 8px solid #672dc3;


    .form {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 500px;
    }

    .form > div {
        display: flex;
        align-items: center;
        margin: .2em;
    }
    .form > div label {
        min-width: 8em;
        text-align: right;
        margin-right: 1em;
    }
    
    .gpo-categoria {
        display: flex;
        width: 100%;
    }

    .btn-categoria {
        border-radius: 3px;
        padding: 10px 14px;
        margin-left: 6px;
    }


    @media (max-width: 425px) {
        .form > div {
            flex-direction: column;
            align-items: flex-start;
            margin: .7em .2em;
        }
        .form > div label {
            min-width: auto;
        }

    }
}